body {
    margin: 0;
}

*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

img {
    display: block;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Raleway;
    font-weight: normal;
    letter-spacing: 1px;
}

body {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 14px;
    line-height: 1;
    color: #373737;
    background: white;
}

header:after, .container:after, footer:after, .widget-posts-list li:after, #subscribe:after {
    content: "";
    display: table;
    clear: both;
}

header {
    width: 100%;
    padding: 15px 0;
    position: relative;
}

.nav-nav {
    margin-top: 30px;
}

.logo {
    display: block;
    float: left;
}

.logo span {
    color: #373737;
    font-size: 36px;
    display: inline-block;
    height: 30px;
    letter-spacing: 20px;
    text-align: center;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, .4);
}

/* меню */
#menu {
    float: right;
}

#menu li {
    display: inline-block;
    line-height: 52px;
    margin-left: 30px;
}

#menu a {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#menu-unregistered {
    color: #2E2EF1;
}

#menu-adding {
    color: white;
    background-color: #2E2EF1;
    border-radius: 0px;
}

#menu-exit {
    color: white;
    background-color: #CD5C5C;
    border-radius: 0px;
}

#menu a:hover {
    color: lightblue;
}

#menu li:last-child {
    margin-right: 0;
}

.news-search {
    width: 100%;
    padding: 15px 50PX;
    position: relative;
    display: inline-block;
}

#searchform {
    float: right;
    display: inline-block;
    position: relative;
    margin-top: 7px;
}

#searchform input {
    width: 440px;
    float: left;
    padding-left: 10px;
    height: 48px;
    font-style: italic;
    border: 2px solid #E5E5E5;
}

#searchform input:focus {
    border: 2px solid #EBEBE3;
}

#searchform button {
    background: transparent;
    height: 40px;
    border: none;
    position: absolute;
    right: 10px;
    color: #EF5A42;
    cursor: pointer;
    font-size: 18px;
}

.heartLike.active {
    color: red;
}

.card {
    width: 50%;
}

h1 {
    margin-bottom: 20px;
}

.article-content {
    text-align: center;
}

.article-content img {
    display: inline-block;
    height: auto;
    width: 60%;
}

.article-content p {
    padding: 1% 10%;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.js-buttonLike {
    margin-left: 12%;
    margin-bottom: 3%;
}

.js-buttonLike span {
    font-size: 24px;
}

#textarea-label {
    margin-left: 10%;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 120%;
}

#commentTextarea {
    margin-left: 12%;
    line-height: 120%;
    width: 40%;
    min-width: 400px;
}

.btn-comment {
    margin: 2% 12%;
    border: none;
    background-color: #2E2EF1;
    color: white;
    padding: 10px 30px;
    font-size: 16px;
}

.btn-group {
    margin-left: 71%;
}

.card-comment {
    margin: 2% 12%;
    width: 40%;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
}

.registration {
    margin: 5% 20%;
}

.form-group label {
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 120%;
}

.login {
    margin: 5% 20%;
}

#form-btn {
    border: none;
    background-color: #2E2EF1;
    color: white;
    padding: 10px 30px;
    font-size: 16px;
}

.articles-form img {
    width: 160px;
}

.form-images {
    position: relative;
}

.form-images .fa-times {
    position: absolute;
    top: 0;
}
#datepicker{
    width: 20%;
}
.tag-primary{
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #CD5C5C;
    color: white;
}
#input-tags{
    display: none;
}
#input-tags-selectized{
    width: 200px;
    opacity: 1;
    position: relative;
    left: 0px;
}
.selectize-dropdown{
    display: none;
    width: 520px;
    top: 36px;
    left: 0px;
    visibility: visible;
}
.selectize-input::after {
    display: block;
    clear: left;
    content: ' ';
}